/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */


@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
 
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100px;
}


.header-logo--link {
    font-size: 40px;
    font-weight: 900;
    color: #10c9c3;
    padding-left: 2%;
    text-decoration: none;
}

.header-logo--link::before {
    content: "MATIC";
    color: #191919;
}

.header-logo--link:hover {
    color: #191919;
}

.header-logo--link:hover:before {
    color: #10c9c3;
}

.header-menu {
    width: 100%;
    text-align: right;

}

.header-menu--nav {
    list-style: none;
    
}

.nav-item {
    display: inline;
    text-transform: uppercase;
    padding-right: 2%;
    
}

.nav-item--link {
    color: #191919;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-decoration: none;
    transition: border 0.4s ease-out;
    padding-bottom: 10px;
    padding-top: 10px;  
}

.nav-item--link:hover {
    color: #10c9c3;
    border-bottom: #191919 1px solid;
    border-top: #191919 1px solid; 
}

.nav-item--link-active {
    border-bottom: #10c9c3 2px solid;
    border-top: #10c9c3 2px solid; 
}

.header-title {
    width: 100%;
    height: 300px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title--wrapper {
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-title--name {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.38px;
}

.header-title--text {
    margin-top: 3%;
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.09px;
}


/* About Page */
.header-about-title {
    width: 100%;
    height: 300px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-about-title--wrapper {
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-about-title--name {
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.38px;
}

.header-about-title--text {
    margin-top: 3%;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.09px;
}

.main-about {
    height: 240px;
    background-color: #10c9c3;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-about-container {
    display: flex;
    align-items: center;
}

.padding-right {
    padding-right: 30px;
}

.projects, .hours, .feedbacks, .clients {
    margin: 0;
    padding-bottom: 15px;
    width: 80px;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}

.main-about--text {
    margin: 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.aboutme {
    width: 100%;
    display: flex;
}

.aboutme-photo {
    width: 50%;
}

.aboutme-photo > img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.aboutme-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #f5f5f5;
}

.aboutme-text--header {
    color: #171717;
    font-size: 30px;
    font-weight: 500;
    line-height: 84px;
    letter-spacing: 0.3px;
    padding-left: 85px;
}

.aboutme-text--description {
    width: 455px;
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
    padding-left: 85px;
}
/* //About Page */





.main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.main-tales {
    position: fixed;
    display: none;
    width: 25%;
    height: 300px;
    position: relative;   
    opacity: 1;
    transition: all 0.2s ease-in-out;
    -webkit-animation: fade-in 1s linear; /* Safari 4+ */
    -moz-animation: fade-in 1s linear; /* Fx 5+ */
    -o-animation: fade-in 1s linear; /* Opera 12+ */
    animation: fade-in 1s linear; /* IE 10+, Fx 29+ */  
}

.main-tales > a > img {
    width: 100%;
    height: 100%;
}

.main-tales::before {
    position:absolute;
    font-family: "FontAwesome";
    font-size: 100px;
    color: #10c9c3;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.main-tales:hover > a > img {
    opacity: 0.5;
}

.main-tales:hover::before {
    content: "\f06e";
    opacity: 1;
}





/* //Need a Project AboutPage */
.contact-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.need-a-project--header {
    margin: 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.3px;
}

.need-a-project--description {
    margin-top: 30px;
    width: 540px;
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.need-a-project--btn {
    margin-top: 30px;
    padding: 20px 50px 20px 50px;
    background-color: #10c9c3;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
}
/* //Need a Project AboutPage */


/* Works Page*/
.works {
    display: flex;
}

.works-description {
    width: 50%;
    height: 570px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works-desc-container {
    width: 438px;
}

.works-desc-container > h2 {
    color: #171717;
    font-size: 38px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.38px;
}

.works-desc-container > p {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.08px;
    margin-top: 50px;
}

.work-detail {
    list-style: none;
    padding: 50px 0 0 0;
}

.work-client, .work-date {
    padding-bottom: 20px;
}

.work-client:before {
    content: 'Client: ';
    color: #171717;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.08px;
}

.work-date:before {
    content: 'Date: ';
    color: #171717;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.08px;
}

.work-share--icon {
    color: #171717;
    font-size: 20px;
    padding-left: 5px;
    transition: color 0.2s ease;
}

.work-share--icon:hover {
    color: #10c9c3;
}

.work-share:before {
    content: 'Share: ';
    color: #171717;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.08px;
}


.works-photos {
    width: 50%;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(16, 201, 195, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .sliderImage {
      width: 100%;
      padding: 0;
      margin: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #10c9c3;
    padding: 2px 16px;
    margin-bottom: 4px;
    color: white;
  }

  .row {
      display: flex;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 4 columns side by side */
  .column {
    float: left;
    width: 25%;
    margin-right: 4px;
  }

  .column:last-child {
    margin-right: 0;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    width: 100%;
  }
  
  .S-active,
  .demo:hover {
    opacity: 1;
  }

/* //Works Page*/


/* Footer */
footer {
    height: 284px;
    background-color: #141414;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
}

.footer-copyright {
    width: 270px;
}

.footer-copyright--name {
    color: #10c9c3;
    font-size: 18px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0.18px;
}

.footer-copyright--content {
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
}

.design-by {
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
    text-decoration: none;
}

.design-by:hover {
    color: #10c9c3;
}

.footer-contact {
    width: 150px;
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
}


.footer-menu--nav {
    list-style: none;
}

.footer-menu--link {
    text-decoration: none;
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 3px solid transparent;
    transition: all 0.4s ease-in;
}

.footer-menu--link:hover {
    color: #10c9c3;
    border-left: 3px solid #10c9c3;
}

.footer-social {
    list-style: none;
    text-align: center;
    font-size: 25px;
}

.footer-social--item {
    list-style: none;
    padding-bottom: 5px;
}

.footer-social--icon {
    color: #bcbcbc;
    text-decoration: none;
    transition: all 0.4s ease-in; 
}

.footer-social--icon:hover {
    color: #10c9c3;
}
/* //Footer */




/* MODAL */
/* Modal inactive */
.modal {
    background: #ffffff;
    left: 50%;
    margin: -250px 0 0 -15%;
    position: absolute;
    top: -50%;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Activate modal in state :target */
.modal:target {
    top: 50%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.modal-header {
    background-color: #141414;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

.modal-footer {
    height: 70px;
    border:none;
    border-top: 1px solid #ffffff;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    background-color: #141414;
}

.modal-content, .modal-header {
    padding: 15px;
    z-index: 200;
    text-align: center;
}

input {
    width: 80%;
    border: 1px solid #10c9c3;
    background-color: transparent;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0 3px 0 3px;
}

textarea {
    width: 80%;
    border: 1px solid #10c9c3;
    background-color: transparent;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
}

.submit_btn {
    background-color: #10c9c3;
    color: #ffffff;
}

.submit_btn:hover {
    background-color: #ffffff;
    color: #10c9c3;
}

.modal h2 {
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.modal .btn {
    font-size: 10px;
    float: right;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    background-color: #10c9c3;
    margin: 20px 50px 20px 0px;
    text-decoration: none;
}
/* //MODAL */


